
*{
font-family: Arial, Helvetica, sans-serif ;
}

html, body {
  height: 100%;
}
body {
  margin: 0; /* This will stop the margin, setting it to 0 */
}
/* Adding logo above the menu */

.logo {
  width: 100%;
  background-color: white 
}
/* Add a black background color to the top navigation */
.flex{
  
  background-color: #24292e;
  position: fixed;
  top: 0px;
  width: 100%;
  margin: 0px;
  padding: 0px; 
  overflow: hidden;
}
p{
  font-size: 18px;
  line-height: 1.5em;
  
}
.topnav {
  width: 100%;
  background-color: #24292e;
  overflow: hidden;
  padding-left: 0;
}

/* Style the links inside the navigation bar */

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */

.topnav a:hover {
  background-color: white;
  color:rgba(16, 133, 16, 0.829);;
}

/* Add an active class to highlight the current page */

.active {
  background-color: rgba(16, 133, 16, 0.829);
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */

.topnav .icon {
  display: none;
}

.jumbotoron {
  height:90vh;
  background: /* top, transparent red */
  linear-gradient(to right, rgba(46, 185, 11, 0.438), rgba(2, 61, 2, 0.99)), /* bottom, image */
  url('./img/landscape_movies_looper_poster_1.jpg');
  background-repeat:repeat;
  padding-top: 30vh;
  text-align: center;
  width: 100%;
  color: white;
}
.contact-us {
  padding-top: 15px;
  width: 100%;
  text-align: center;
  background-color:rgba(16, 133, 16, 0.829);;
  color: black;
}

.btn {
  color: white;
  font-size: 30px;
  background-color: #24292e;
  border-radius: 120px;
  padding: 25px 30px;
}

.center {
  text-align: center;
}

/* Create three equal columns that sits next to each other */

.col-3 {
  flex: 25%;
  padding: 20px 30px;
  align-content: center;
}

.col-3-img {
  vertical-align: middle;
  border-radius: 70%;
}

.resize-img {
  display: block;
  margin: 0 auto;
  height: 150px;
  width: 150px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 2px;
}

/* Control for the footer */

.footer {
  position: initial;
  left: 0;
  bottom: 0;
  clear: both;
  padding: 4px 8px;
  background-color: #000;
  color: white;
  font-size: 17px;
  text-align: center
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  p{
    font-size: 16px;
    line-height: 1.5em;
  }
}